    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h4><a href="{% url 'about_us' %}">About Us</a></h4>
                <p>Learn more about us.</p>
            </div>
            <div class="footer-section">
                <h4><a href="{% url 'contact_us' %}">Contact Us</a></h4>
                <p>Get in touch.</p>
            </div>
            <div class="footer-section">
                <h4>Address</h4>
                <p>Alleppey, Kerala, India</p>
            </div>
            <div class="footer-section">
                <h4><a href="{% url 'terms_conditions' %}">Terms and Conditions</a></h4>
                <p>Read our terms.</p>
            </div>
        </div>
    </footer>
